@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Rubik', sans-serif;
  vertical-align: baseline;
}

html {
  font-size: 10px;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1rem;
  box-shadow: inset 0.05rem 0.05rem 1rem black;
  margin-left: 1rem;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 1rem;
  box-shadow: inset 0.05rem 0.05rem 1rem white;
}

.main-container {
  background-color: #F3F3FB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 5rem;
}

.title {
  font-size: 7rem;
  font-weight: 500;
}

.sub-title {
  font-size: 4rem;
}

.main-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}

.poza {
  width: 50rem;
  height: 50rem;
  background-image: url("./poza.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  border-radius: 2rem;
  margin-right: 3rem;
  box-shadow: 1rem 1rem 5rem grey;
}

.text-box {
  width: 80rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #b31c1a;
  border-radius: 2rem;
  margin-left: 3rem;
  color: white;
  box-shadow: 1rem 1rem 5rem grey;
  align-items: center;
  justify-content: space-around;
}

.text-box-title {
  display: flex;
  align-self: center;
  margin: 3.5rem;
  margin-top: 3rem;
  font-size: 5rem;
  font-weight: 500;
}

.text-box-content {
  margin: 3.5rem;
  margin-top: 0;
  font-size: 3rem;
  max-height: 33rem;
  overflow-y: auto;
  text-indent: 7rem;
}

.footer {
  padding: 5rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
