.text-titlu {
  padding: 50px;
  text-align: center;
  background-color: #b31c1a;
  color: white;
}

h1 {
  font-size: 60px;
}

h1 {
  font-size: 30px;
}

.row {
  display: flex;
}

.column {
  float: left;
  /* width: 50%; */
  padding: 10px;
}

.about-me {
  font-size: 25px;
}

.left {
  background-color: #e0e1d7;
  width: 30%;
}

.right {
  padding: 100px;
  width: 70%;

  background-color: #e0e1d7;
}

.contact {
  text-align: center;
}